.aligntextcenter {
    text-align: center !important;
}
#username {
    float: left;
    width: 100%;
}
#username table.fixed {
    clear: none !important;
    float: left !important;
}
.widefat.post.fixed td.check-column {
    padding: 6px 10px;
}
.widefat .sr-no {
    width: 27px;
}
.form-table.tbl-timing {
    border-collapse: collapse;
}
.form-table.tbl-timing td {
    padding: 15px 0;
    border: 1px solid #e1e1e1;
}
.form-table.tbl-timing th {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #e1e1e1;
    line-height: 2;
}
.tbl-timing td {
    padding-bottom: 0;
}
.tbl-timing h3 {
    margin-bottom: 0;
    margin-top: 0;
}
.time-field {
    width: 70px;
}
.week-lbl {
    width: 100px;
}
.week-time {
    width: 300px;
}
.filter_div {
    float: left;
}
.filter_div input[name="txtUsername"] {
    width: 250px;
}
.role_records
{
    display: none;
    width: 300px;
}
.cover_form
{
    background: #f1f1f1;
    border: 1px solid #cccccc;
    border-radius: 0 0 5px 5px;
    float: left;
    padding: 20px;
    width:100%;
    box-sizing: border-box;
}
.tab_parent li a.current {
    position: relative;
    bottom: -1px;
    padding-top: 12px;
}
.tab_parent_parent {
    float: left;
    margin-bottom: 0;
    width: 100%;
}
.tab_parent {
    float: right;
}
.tab_parent > ul {
    margin: 0;
}
.tab_parent li {
    display: inline-block;
    font-size: 18px;
    margin: 0;
}
.tab_parent ul li:first-child a {
    border-left: 1px solid #cccccc;
    border-radius: 5px 0 0;
}
.tab_parent ul li:last-child a{
    border-radius: 0 5px 0 0;
}
.tab_parent a {
    background: none repeat scroll 0 0 #ffffff;
    border-right: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    color: #484848;
    display: block;
    padding: 11px 19px;
    text-decoration: none;
    position: relative;
    z-index: 1;
}
.tab_parent a:hover
{
    color: #484848;
}
.admin_page_block_user_permenant #wpcontent,.toplevel_page_block_user #wpcontent,.admin_page_block_user_date #wpcontent,.user-blocker_page_blocked_user_list #wpcontent, .admin_page_datewise_blocked_user_list #wpcontent, 
.admin_page_permanent_blocked_user_list #wpcontent, .admin_page_all_type_blocked_user_list #wpcontent
{
    background: #ffffff;
}
.tr_head{
    background: #f1f1f1;
}
.form-table.tbl-timing
{
    background: #fff;
}
.tab_parent a.current
{
    background: #f1f1f1;
}
.block_msg_left
{
    float: left;
}
.block_msg_note_div
{
    clear: both;
    float: left;
    margin-top: 10px;
}
.user_lbl
{
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 5px 0 0 0;
    padding: 6px 10px;
    background: #fff;
    font-size: 16px;
    float: left;
}
.user_lbl:first-child
{
    border-right: none;
}
.user_lbl:last-child
{
    border-radius: 0 5px 0 0;
}
#frmBlockUser .tablenav.top
{
    margin: 0;
}
.search_div {
    margin: 12px 0;
}
.chkapply
{
    margin-top: 6px;
    float: right;
}
.wp-core-ui .button.primary-button
{
    background: none repeat scroll 0 0 #4a4a4a;
    border: medium none;
    color: #ffffff;
    margin-left: 7px;
}
.wp-core-ui .button.primary-button:hover
{
    background: none repeat scroll 0 0 #4a4a4a;
    color: #ffffff;
}
.view_block_table
{
    width:100%;
}
.view_block_table.form-table.tbl-timing td
{
    padding: 10px 0;
}
.view_block_table.form-table.tbl-timing {
    background: none repeat scroll 0 0 #f8f8f8;
}
.view_block_data_tr
{
    display: none;
}
a.view_block_data:focus
{
    box-shadow: none;
}
.block_msg_title
{
    float: left;
    width: 100%;
}
.block_msg_title span {
    background: #C11B17;
    color: #ffffff;
    padding: 3px 7px;
}
.check-column {
    width: 25px;
}
.blk-date {
    width: 180px;
}
.tbl-action {
    width: 50px;
}
.user-role {
    width: 150px;
}
.th-name {
    width: 125px;
}
.th-email {
    width: 190px;
}
.day-table {
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    float: left;
    margin-bottom: 15px;
    margin-top: 5px;
    background: #fff;
}
.days {
    text-align: center;
    width: 140px;
    border-right: 1px solid #cccccc;
    float: left;
}
.days span {
    display: block;
    padding: 3px 5px;
    border-bottom: 1px solid #cccccc;
}


.search_box div.actions {
    clear: both;
    float: left;
    padding-bottom: 5px;
    padding-top: 5px;
}
.search_box div.actions:last-child {
    padding-bottom: 10px;
}
.search_box div.actions:first-child {
    width: 100%;
    padding-right: 0;
}
#blocked-list .widefat td,
#blocked-list .widefat th {
    padding: 8px 5px;
}
.th-role{
    width: 90px;
}
.th-username {
    width: 150px;
}
.th-time {
    width: 80px;
}
.role_records .th-time {
    width: 127px;
}
.th-time {
    width: 80px;
}
.block_msg_title
{
    float: left;
    width: 100%;
}
.role_records th.th-time
{
    width:99px;
}
.admin_page_datewise_blocked_user_list .users_records .th-time,.admin_page_permanent_blocked_user_list .role_records .th-time
{
    width:200px;
}
.admin_page_permanent_blocked_user_list .sr-no,.admin_page_datewise_blocked_user_list .sr-no
{
    width:40px;
    text-align: center;
}
#blocked-list .widefat .date_detail_row
{
    padding-top: 0;
    padding-bottom: 0;
}
.date_detail_row .tbl-timing
{
    margin-top: 0;
}
.tbl-timing label
{
    color: #df0000;
}
.view_block_data_tr
{
    display: table-row;
    display: none;
}
#frmSearch > .actions select {
    float: none;
}
#blocked-list th.sortable a {
    padding-left: 0;
    padding-right: 0;
}
td.check-column > input {
    margin-top: 5px !important;
}